/* Styles for my portal page! */

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background:lavender;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    max-width:1200px;
    margin:20px auto;
}

a {
 color:rgb(120, 32, 178);  
}

nav {
    height:60px;
    background:rgb(177, 67, 197);
    line-height:60px;
    margin-bottom:20px;
}

nav li {
    float:left;
    width:16.66%;
    text-align:center;
    list-style-type:none;
}

nav a {
    color:white;
    text-decoration:none;
}

main {
    width:62%;
    float:left;
}

aside {
    width:35%;
    float:right;
    background:#fff;
    padding:2%;
}

aside ol {
    margin-left:20px;
    margin-bottom:10px;
}

aside li {
    line-height:1.33;
     color:lightseagreen;  
}

aside li a {
  color:rgb(117, 32, 178);  
}

.right {
    float:left;
    margin-right:30px;
}

footer {
    clear:both;
    height:50px;
    line-height: 50px;
}

footer li {
    float:left;
    margin:0 30px;
    list-style-type: none;
    
}

img {
    max-width:100%;
}


/* typorgraphy */

h1 {
    text-align:center;
    font-size:3em;
    margin:20px 0;
}


h2 {
    font-size:2em;
    text-align:center;
    margin-bottom:20px;
}

h3 {
    margin-bottom:10px;
    font-size:1.5em;
}

h1, h2, h3 {
    font-family:playfair, 'Times New Roman', Times, serif;
}
main h2, aside h2 {
    text-align:left;
}

p {
    line-height:1.4;
    margin-bottom:20px;
}