/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5ebe0;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    line-height: 1.6;
}

.current {
    color: rgb(30, 180, 207);
}

/* Navigation Styles */
header {
    background: #f8f1cc;
    padding: 20px 0;
}

.inner-header {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#logo {
    width: 200px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 30px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li {
    margin: 8px 0;
}

/* Wrapper Styles */
#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    clear: both;
    overflow: hidden;
}

/* Hero Section Styles */
#hero {
    margin-bottom: 20px;
}

/* Main Content Styles */
main {
    border-radius: 3px;
    width: 60%;
    background: #d5bdaf;
    float: left;
    padding: 20px;
}

/* Sidebar Styles */
aside {
    border-radius: 3px;
    width: 35%;
    background: #d5bdaf;
    float: right;
    padding: 40px;
}

/* Footer Styles */
footer {
    height: 60px;
    line-height: 60px;
    background: #e3d5ca;
    clear: both;
    text-align: center;
}

footer ul {
    display: inline-block;
    list-style-type: none;
}

footer li {
    display: inline-block;
    margin: 0 15px;
    color: #333;
    font-size: 14px;
}

/* Image Styles */
img {
    max-width: 100%;
}

/* Typography Styles */
p {
    margin-bottom: 20px;
    line-height: 1.4;
    color: #333;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Additional Styles */
.color {
    color: #ff4500;
}

ul {
    list-style-type: none;
}

fieldset {
    border: 2px solid grey;
    padding: 5px;
}

legend {
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=text], input[type=email], input[type=tel] {
    display: block;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

input[type=submit] {
    display: block;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.error {
    display: block;
    color: red;
    margin-bottom: 8px;
    font-style: italic;
}

form ul {
    margin-left: 10px;
    list-style-type: none;
    margin-bottom: 7px;
}

select, textarea {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: none;
    height: 140px;
}

img.shiba {
    width: 500px;
    height: 500px;
}
