/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5ebe0;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

/* Navigation Styles */
header {
    background: #f8f1cc;
    padding: 20px 0;
}

.inner-header {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#logo {
    width: 200px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 30px;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 20px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #333;
}

aside ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

aside li {
    margin: 8px 0; 
}

/* Wrapper Styles */
#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    clear: both;
    overflow: hidden;
}

/* Hero Section Styles */
#hero {
    /* background: #ff4500; */
    margin-bottom: 20px;
}

/* Main Content Styles */
main {
    border-radius: 3px;
    width: 60%;
    background: #d5bdaf;
    float: left;
    padding: 20px;
}

/* Sidebar Styles */
aside {
    border-radius: 3px;
    width: 35%;
    background: #d5bdaf;
    float: right;
    padding: 40px;
}

/* Footer Styles */
footer {
    height: 60px;
    line-height: 60px;
    background: #e3d5ca;
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    margin: 0 15px;
}

/* Image Styles */
img {
    max-width: 100%;
}

/* Typography Styles */
p {
    margin-bottom: 20px;
    line-height: 1.4;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #333;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #333;
}

h3 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #333;
}

/* Additional Styles */
.color {
    color: #ff4500;
}
