* {
    padding:10;
    margin: 20;
    box-sizing: border-box;
}

body {
    width: 500px;
    margin: 20px auto;
    text-align: center; 
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}